@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@200;400;500&family=Raleway:wght@200;400;600;700&display=swap');

/* Common Features */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 85%;
    margin: auto;
}

.basic-button{
    padding: 10px 24px;
    background-color: rgba(224, 44, 109, 0.87);
    color: white;
    border-radius: 41px;
    outline: 0;
    border: none;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px 0 #550330;
    
    
    
    
}

.basic-button:active {
    top: 5px;
    transform: translate(0, 5px);
    box-shadow: 0 3px 0 #550330;
}


/* Header>naviation bar.. starts here */
.navigation{
    height: 70px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 

}

.navigation ul{
    display: flex;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
    font-weight: 500;
}
.nav-toggler-icon .fa-bars {
    font-size: .8em;
}
.nav-toggler-icon, #nav-toggler{
    display: none;
}
.navigation-extra-shopping-cart{
    display: none;
}

/* Header>naviation bar.. starts here */

/* Header>showcase.... starts here */
.showcase{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.showcase-left{
    width: 50%;
}

.showcase-left p {
    line-height: 24px;
    margin-bottom: 15px;
}

.showcase-right{
    width: 42%;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    background-size: contain;
    cursor: pointer;
}
.showcase-right img{
    width: 100%;
}

.showcase-right:hover img{
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
    
}


/* Header>showcase......ends here */


/* .company-logos section starts here  */

.companies hr{
    width: 1110px;
    height: 1px;
    border: none;
    outline: 0;
    background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);;
}

.company-logos{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* .company-logos section starts here  */

/* Popular collection starts here */
.popular-collection h2{
    text-align: center;
    margin: 100px 0 30px 0;
}

.popular-collection > p{
    text-align: end;
    margin: 50px 0 100px 0;

    
}

.popular-collection>p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: rgba(224, 44, 109, 0.87);


}

.popular-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 0;
    justify-content: center;
    justify-items: center;
}

.popular-card{
    width: 329px;
    
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;

}

.popular-card-img{
    text-align: center;
}

.popular-card-img img{
    width: 100%;
    border-radius: 5px;
    
}

/* Local Business section */

.local-business{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    

}

.local-business-left{
    width: 45%;

}
.local-business-right{
    width: 35%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 15px;
    border-radius: 7px;
    line-height: 35px;


}


.local-business-right form input{
    width: 90%;
    height: 27px;
    border-radius: 7px;
    outline: 0;
    border: 1px solid;
    font-family: inherit;
    font-size: 16px;
}

.local-business-right form textarea{
    width: 90%;
    height: 250px;
    border-radius: 7px;
    outline: 0;
    border: 1px solid;
    font-family: inherit;
    font-size: 16px;

}

.local-business-right input, .local-business-right textarea{
    margin: 2.5px 0 2.5px 0;
}

.basic-form input::placeholder, .basic-form textarea::placeholder{
    padding-left: 5px;
}


/* Local Business section */

/* Footer */

#footer{
    text-align: center;
    width: 100%;
    background-color: rgb(11, 11, 80);
    color: white;
    line-height: 33px;
    
    
    
}

.social-icons a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0 12px 0 12px;
    font-size: 1.2em;

    
}

/* Media queries */
/* Mobile Devices  */

@media (max-width: 688px) {
    ul{
        position: absolute;
        top: 100px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        transform: translateY(-700px);
        transition: .5s ease-in-out;
        background-color: rgba(224, 44, 109);
        
        
        
    }
    ul li{
        margin: 5px 0;
        
    }

    ul li a{
        color: black
    }

    .nav-toggler-icon{
        display: block;
        font-size: 3em;
        margin: auto 20px auto 0;

    }

    #nav-toggler:checked ~ ul{
        transform: translateX(0);

    }
    .navigation-extra-shopping-cart{
        display: block;
        color: black;
        font-size: 1.5em;
    }

    .showcase{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }


    .showcase-left, .showcase-right{
        width: 100%;
        margin: 10px 0;
    }

    .showcase-left{
        margin-bottom: 500px;
        text-align: center;

    }
   
    
    .showcase-right{
        order: -1;
        
        
    }

    .companies{
        position: relative;
        top: 300px;
        
        
    }
    .company-logos{
        flex-wrap: wrap;
    }
    .popular-collection{
        position: relative;
        top: 250px;
    }

    .popular-cards{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .popular-card{
        width: 90%;
    }

    .local-business{
        position: relative;
        top: 150px;
        flex-direction: column;
    }
    .local-business-left, .local-business-right{
        width: 100%;
        
    }
    .local-business-left{
        text-align: center;
        margin-bottom: 30px;


    }

    #footer{
        position: relative;
        top: 80px;
        
        
    }

    
}


/* Media queries */
/* Tablet  */

@media (min-width: 689px) and (max-width: 992px) {

    .showcase-left-title{
        font-size: 1.6em;
    }
    .popular-cards{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .navigation h2{
        font-size: 1.3em;

    }
    .navigation ul li a{
        font-size: .9em;
    }

    .local-business{
        
        flex-direction: column;
        
    
    }
    
    .local-business-left{
        width: 90%;
        margin-bottom: 30px;
        text-align: center;
    
    }
    .local-business-right{
        width: 90%;
        
    
    
    }
     
}
